Source: adaptation-xiaomi-wayne
Maintainer: kisekinopureya <gokhanozdemir753@gmail.com>
Section: metapackages
Priority: optional
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/Droidian-Mi-A2-6X/adaptation-xiaomi-wayne
Vcs-Git: https://github.com/Droidian-Mi-A2-6X/adaptation-xiaomi-wayne.git

Package: adaptation-xiaomi-wayne
Architecture: all
Depends: ${misc:Depends},
         linux-bootimage-xiaomi-wayne,
         adaptation-hybris-api28-phone,
         adaptation-xiaomi-wayne-configs,
Description: adapatation-xiaomi-wayne - meta
 Xiaomi Mi 6X api28 adaptation metapackage

Package: adaptation-xiaomi-wayne-configs
Architecture: all
Depends: ${misc:Depends},
         adaptation-xiaomi-wayne (= ${binary:Version}),
Description: Xiaomi Mi 6X specific adaptation configs
