Source: adaptation-xiaomi-jasmine
Maintainer: Shou
Section: metapackages
Priority: optional
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/hybris-mobian/adaptation-xiaomi-jasmine
Vcs-Git: https://github.com/hybris-mobian-releng/adaptation-xiaomi-jasmine.git

Package: adaptation-xiaomi-jasmine
Architecture: all
Depends: ${misc:Depends},
         linux-bootimage-xiaomi-jasmine,
         adaptation-hybris-api28-phone,
         adaptation-xiaomi-jasmine-configs,
Description: adapatation-xiaomi-jasmine - meta
 Xiaomi MiA2 api28 adaptation metapackage

Package: adaptation-xiaomi-jasmine-configs
Architecture: all
Depends: ${misc:Depends},
         adaptation-xiaomi-jasmine (= ${binary:Version}),
Description: Xiaomi Mi A2 specific adaptation configs
